body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#countdown {
    color: red;
    font-size: 5em;
    text-align: center;
}
